#active-game {
    font-family: sans-serif;
    background-color: #ffeecc;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

    /* prevent text selection */
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

#element1 {
  height: 300px;
  width: 300px;
  background-color: #f00;
}

#element2 {
  height: 300px;
  width: 300px;
  background-color: #0f0;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#end-trial {
}
