.clear_content {
  all:initial;
}

.different_fonts {
  font-size: 90%;
  font-family: georgia,"times new roman",times,serif;
}

.test {
  display: none;
}

#end-trial {
  display:none;
}

.container > div {
  visibility:hidden;
}

.debug {
  display:none;
  background: #000;
  color: #ff2277
}

.hidden {
  visibility: hidden;
}

.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }

.work_container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 188px auto 188px;
  grid-template-areas:
      "work1 work2 work3 "
}

.container {
  font-family: "Courier New", Courier, serif;
  display: grid;
  grid-template-rows: 30px 100px 120px 40px 377px 377px 200px;
  grid-template-columns: auto 565px 565px auto;
  grid-gap: 20px 20px;
  grid-template-areas:
      ". blank blank . "
      ". header_l header_r . "
      ". title_l title_r . "
      ". spacer spacer ."
      ". image1 image2 ."
      ". image3 image4 ."
      ". about work ."
}

.container_noimages {
  font-family: "Courier New", Courier, serif;
  display: grid;
  grid-template-rows: 30px 100px 120px 40px 200px;
  grid-template-columns: auto 565px 565px auto;
  grid-gap: 20px 20px;
  grid-template-areas:
      ". blank blank . "
      ". header_l header_r . "
      ". title_l title_r . "
      ". spacer spacer ."
      ". about work ."
}


.footer {
  visibility: hidden;
  font-family: "Courier New", Courier, serif;
  display: grid;
  grid-template-rows: 30px 100px 30px;
  grid-template-columns: auto 585px 565px auto;
  background: #001122;
  grid-template-areas:
      ". . . . "
      ". footer_left footer_right . "
      ". . . . "
}

.blank {
  grid-area: blank;
}

.spacer {
  grid-area: spacer;
  border-top: 1px solid #eee;
}


.left_header {
  grid-area: header_l;
}

.right_header {
  grid-area: header_r;
  text-align: right;
  font-size: 10px
}

.left_title {
  grid-area: title_l;
}

.left_title {
  font-size: 48px;
}

.right_title {
  grid-area: title_r;
}

.img1{
  grid-area: image1;
}

.img2{
  grid-area: image2;
}

.img3 {
  grid-area: image3;
}

.img4 {
  grid-area: image4;
}

.worklist {
  grid-area: work;
  text-align: center;
}

.about {
  grid-area: about;
}

.worklist.work1{
  grid-area: work1;
  display: inline-block;
}

.worklist.work2{
  grid-area: work2;
  display: inline-block;
}

.worklist.work3{
  grid-area: work3;
  display: inline-block;
}

.footer_left {
  grid-area: footer_left;
  color: #fff
}

.header {
  background: #001122;
  height: 130px
}

img[class] {
  width: 100%;
}

.left_header > img {
  width: 50px;
}

.smallimg {
  height:48px;
  padding-top: 20px;
  padding-bottom: 10px
}

.experts {
  font-size: 19px
}
